<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>My Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Special+Elite&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 jumbotron mb-3 team-heading">
          <h1 class="text-center">My Software Engineering Team</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">

      <div class="team-area justify-content-center">
        {{ team }}
      </div>
    </div>
    <div class="push"></div>
  </div>
  <footer class="footer">
    <p>Copyright &copy; Team Builder 2020</p>
  </footer>
</body>

</html>